@charset "UTF-8";

body{
    background-color: #04BF8A;
    font-family: Arial, Helvetica, sans-serif;
}
.intermediario{
    color: yellow;
}
.avancado{
    color: red;
    ;
}
h1#Principal{
  text-align: center;
  background-color: green;
  color: white;
}

h1{
    color: #025940;
}

h2{
    color: #03A64A;
}